@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

    <div class="block2" style="width:660px;">
        @RenderBody()

    </div>
    <div class="block2" style="float:right;">
        <h4>İLETİŞİM İÇİN</h4>
        <ul>
            <li>032156451232</li>
            <li>032156414512</li>
            <li>032156456732</li>
        </ul>
    </div>

