
@{
    ViewBag.Title = "Homepage";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

    <div class="row">
        <div class="col-md-12">
            <h2>Sign In</h2>
            <hr />
            <input type="text" placeholder="Adınız" id="input1" name="ad" class="form-control" />
            <input type="text" placeholder="Soyadınız" id="input2" name="soyad" class="form-control" />
            <input type="email" placeholder="Mail Adresiniz" id="input3" name="mail" class="form-control" />
            <input type="password" placeholder="Şifreniz" id="input4" name="sifre" class="form-control" />
            <br />
            <button class="btn btn-success" type="button">Üye Ol</button>

            <button class="btn btn-success" type="reset">Sıfırla</button>
            <hr />
        </div>
    </div> 

@section Section1{
    <div class="alert alert-info">
        <b>Ipsum gravida vel pretium tellus tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod, iaculis eu lacus nunc mi elit, vehicula ut.</b> 
        </div>}