

<h2>About</h2>
<hr />
<p>ASP.NET MVC derslerinin bu bölümünde kendimize sabit HTML sayfa elementleri tanımladık.</p>
<p>Bu yazımız sizlere bu elementlerin tanıtımı niteliğinde olacaktır.</p>
<p>Aslında kolayca yaptığımız şey Footer ve Menu kısmı oluşturmak oldu.</p>
<p>Ancak belli sabit kısımları Layout olarak gösterdik ve her sayfayaa ayrı ayrı tekrardan
    oluşturmak gibi yorucu işlere kalkmadık.</p>
<p>Bazı CSS kodları ile bu elementleri güncelledik.</p>
<p>Bu proje <a href="https://github.com/Olymposrec">Github</a>'a yüklenecek çok fazla içinde açıklama satırı
    örnek kodlar bulunmayacak.</p>
<p>Önemli kısım Burada projeyi yükleyip Görmeniz gerekmekte.</p>


