

<h2>Contact</h2>
<hr />
<p>Bu derslere devam ederek kendimi geliştirmeyi hedefliyorum.</p>
<p>Aşağıdan sosyal medya hesaplarına ulaşabilirsiniz</p>
<p>Ayrıca melihakkse@hotmail.com adlı mail adresime mail atabilirsiniz.</p>
<ul>
    <li>
        <a href="https://twitter.com/MelihAkkse">Twitter</a>
    </li>
    <li>
        <a href="https://www.linkedin.com/in/melih-a-40688a1a2/">LinkedIN</a>
    </li>
    <li>
        <a href="https://github.com/Olymposrec">Github</a>
    </li>
</ul>

