<h4>Farklı Dosyanın içindeki Partial' a erişme Örneği</h4>

<ul>
    <li>
        <a href="#">Sit amet, consectetur.</a>
    </li>
    <li>
        <a href="#">Adipiscing elit fusce.</a>
    </li>
    <li>
        <a href="#">Vel sapien elit.</a>
    </li>
</ul>

<p>Bu Partial Home klasörü içerisinde bulunmakta. Daha önceden oluşturduğumuz partial ise "Shared" klasöründe bulunmakta idi.</p>
<p>Gerekli kodu yazmadan bu sayfayı çalıştırmak demek hata almanıza neden olur.</p>
<p>Homepage görünümüne gidip Partial çağırma kodunun yanına ("../Home/_PartialPageLinkler2") olarak eklemeniz gerekmekte</p>
